@font-face {
    font-family: 'Bourton-Bold';
    src: url('../fonts/Bourton-Bold.woff2') format('woff2'),
         url('../fonts/Bourton-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Sanger';
    src: url('../fonts/Sanger.woff2') format('woff2'),
         url('../fonts/Sanger.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-dark: #13202c;
    --primary-blue: #199be7;
    --text-light: #ffffff;
    --text-dark: #13202c;
    --hover-blue: #1689cc;
}

/* Base Typography */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Bourton-Bold', sans-serif;
    color: var(--text-dark);
}

body {
    font-family: 'Sanger', sans-serif;
    color: var(--text-dark);
} 